﻿/* Các lớp và phần tử cha */
.topbar {
}

    .topbar .mainbar {
        width: 85%;
        margin: auto;
        display: flex;
        border: 2px solid black;
        padding: 1px;
    }

        .topbar .mainbar .left {
            flex-grow: 4;
            background-color: red;
            margin: auto;
        }

.button-like {
    color: white;
    background-color: #0033FF;
    border: 1px solid black;
    border-radius: 3px;
    padding-bottom: 2px;
}

.button-follow {
    color: white;
    background-color: #0066FF;
    border: 1px solid black;
    padding-top: 4px;
    border-radius: 3px;
    padding-bottom: 2px;
}

.button-youtube {
    color: white;
    background-color: red;
    border: 1px solid black;
    padding-top: 4px;
    border-radius: 3px;
    padding-bottom: 2px;
}

.topbar .mainbar .right {
    margin: auto;
}


.content .maincontent {
    width: 85%;
    margin: auto;
    padding: 1px;
}

    .content .maincontent .banner {
        display: flex;
        margin: auto;
        flex-grow: 3;
    }

        .content .maincontent .banner .logo {
            width: 275px;
        }

        .content .maincontent .banner .banner1 {
            width: 365px;
        }

        .content .maincontent .banner .banner2 {
            width: 383px;
        }

    .content .maincontent .menu {
        width: 99%;
        margin: auto;
        border-top: 2px;
        border-bottom: 2px;
        font-size: 14.8px;
    }

.menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* căn giữa theo chiều ngang */
    align-items: center; /* căn giữa theo chiều dọc */
    gap: 20px; /* Khoảng cách giữa các phần tử */
}

    .menu-items a {
        text-decoration: none; /* loại bỏ gạch chân */
        color: black; /* màu chữ */
        padding: 5px 10px; /* khoảng cách giữa các liên kết */
    }

.content .maincontent .news {
    display: flex;
}

    .content .maincontent .news .information {
        width: 50%;
        border-right: 2px solid rgba(0, 0, 0, 0.3);
    }

        .content .maincontent .news .information .thoisu {
            font-size: 28px;
            padding-top: 3px;
            padding-bottom: 5px;
        }

        .content .maincontent .news .information .anhdonatrum {
            width: 99%;
            height: 350px;
        }

        .content .maincontent .news .information .caption-anhdonatrum {
            color: red;
            font-size: 22.9px;
        }

    .content .maincontent .news .news-suggest {
        width: 21%;
        border-right: 2px solid rgba(0, 0, 0, 0.3);
    }

        .content .maincontent .news .news-suggest .language {
            width: 98%;
            padding-top: 3px;
            padding-bottom: 5px;
            text-align: right;
        }

        .content .maincontent .news .news-suggest .news-question {
            width: 95%;
            margin: auto;
            border: 1px solid rgba(0, 0, 0, 0.3);
            padding: 1px;
            padding-left: 5px;
        }

        .content .maincontent .news .news-suggest .propose {
            width: 95%;
            margin: auto;
            border: 1px solid rgba(0, 0, 0, 0.3);
            padding: 1px;
            padding-left: 5px;
        }

            .content .maincontent .news .news-suggest .propose .mua {
                float: right;
                width: 45%;
            }

            .content .maincontent .news .news-suggest .propose .gocnhin {
                font-size: 15px;
                padding-left: 5px;
                color: #FF6666;
                background-color: rgba(157, 164, 164, 0.10);
                border: 0px;
            }

    .content .maincontent .news .space {
        width: 1%;
        padding-right: 15px;
    }

    .content .maincontent .news .advertisement {
        width: 29%;
    }

        .content .maincontent .news .advertisement .date {
            width: 99%;
            padding-top: 3px;
            padding-bottom: 5px;
            font-size: 11px;
            border: 1px solid rgba(0, 0, 0, 0.3);
            display: flex;
        }

            .content .maincontent .news .advertisement .date .button24h {
                width: 55px;
                font-size: 10px;
                height: 20px;
                float: right;
                margin: auto;
            }

            .content .maincontent .news .advertisement .date .buttonrss {
                width: 19%;
                font-size: 10px;
                height: 20px;
                float: right;
                margin: auto;
            }
.menu {
    display: flex;
    justify-content: center; /* căn giữa theo chiều ngang */
    align-items: center; /* căn giữa theo chiều dọc */
    flex-wrap: wrap; /* cho phép các phần tử chuyển hàng tự động nếu không đủ không gian */
}

    .menu a {
        margin: 0px; /* Khoảng cách giữa các liên kết */
        text-decoration: none;
        color: black;
        padding: 5px 10px;
    }
