﻿body {
    padding: 0;
    margin: 0;
    background-color: #111111;
}

.container {
    max-height: 1000px;
    margin: 0 auto;
}

.container > header {
    background-image: url("image/VnExpress.net_Logo.svg.png");
    background-size: 100% 100%;
    height: 0px;
    padding-bottom: 10%;
}

.container > nav {
    background-color: #ff006e;
    color: white;
    text-align: center;
    overflow: hidden;
}

.container > nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
}

.container > nav a:hover {
    text-decoration: underline;
}

.container > nav .left {
    float: left;
}

.container > nav .right {
    float: right;
}

.container > nav .right button,
.container > nav .right input {
    margin-top: 6px;
}

    .container > article {
        min-height: 600px; 
        width: 85%;
        background-color: white;
        float: left;
        position: relative;
    }

        .container > article iframe {
            width: 100%;
            height: 98%; 
            position: absolute; 
            top: 0; 
            left: 0; 
            border: none; 

        }

    .container > aside {
        min-height: 600px;
        width: 15%;
        float: left;
        background-color: #111111;
        
    
     
  

.container > footer {
    border-top: 5px double orangered;
    line-height: 50px;
    background-color: lightcyan;
    text-align: center;
    font-variant: small-caps;
    clear: both;
}

.container > nav > a {
    text-decoration: none;
    margin: 0 10px;
}

.container > nav > a:hover {
    color: black;
    text-decoration: underline;
}

.container > aside > ul > li > a {
    color: darkblue;
    font-size: 20px;
    line-height: 20px;
}
