﻿body {
    padding:0; margin:0;
}
header{
    height:100px;
    background-color:red;
    }
nav{
    background-color:yellow;
    line-height: 25px;

}
article {
    min-height: 200px;
    width: 75%;
    background-color: white;
    float:left;
}
aside {
    min-height: 200px;
    width: 25%;
    background-color : gray;
    float:left;
}
 footer{
    height: 40px;
    background-color: orangered;
    clear: both;
}
