﻿.box {
    width: 50px;
    height: 50px;
    padding: 20px;
    border: 5px solid red;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 2px gray;
    background-image: url('img2/Mountain.png');
    background-size: 100% 100%;
    background-color: blueviolet;
}
